.bottomCta {
  background-color: #f1fcff;
}

.bottomCtaInner {
  max-width: 28em;
  padding: 1em 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .bottomCtaInner {
    padding: 3em 0;
  }
}
