.features {
  align-content: center; 
}

.features-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex: 0 0 19em;
  flex-direction: column;
  padding: 3.5em 1em;
  color: #0c4862;
}

.feature-image-container {
  flex: 0 0 5em;
  margin-bottom: 1em;
  text-align: center;
}

.image {
  width: 25%;
  height: auto;
}

.feature-text-header {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 2.25;
}  

.feature-text {
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 2.25;
}
