.footer {
  background-color: #38393c;
}

.footer-inner {
  display: flex;
  align-items: center;
  height: 58px;
  flex-direction: row;
  justify-content: center; 
}
@media (min-width: 768px){
  .footer-inner{
    justify-content: flex-end;
  }
}

.footer-items {
  color: #a0a0a0;
  font-size: 12px;
  letter-spacing: 0.6px;
  padding-left: 10px;
}
@media (min-width: 768px){
  .footer-items{
    padding-left: 20px;
  }
}
