.description {
  color: #ffffff;
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-title {
  font-size: 30px;
  line-height: 1.67;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.8em;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .description-title{
    font-size: 34px;
    line-height: 50px;
    margin-top: 2em;
  }
}

.description-body {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 0.8px;
  padding: 0 0 3em;
}
@media (min-width: 768px) {
  .description-body{
    line-height: 2.57;
    letter-spacing: 0.9px;
    padding: 0;
  }
}
